# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Importing data

In [2]:
path = r'C:\Users\alber\Instacart Basket Analysis'

In [2]:
#Import data
df_order_products = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'order_products_combined.pkl'))

NameError: name 'pd' is not defined

In [4]:
df_order_products.shape

(32434489, 11)

In [5]:
df_order_products.head()

,order_id,user_id,order_number,order_days_of_week,order_hour_of_day,days_from_previous_order,orer_hour_of_day,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,8,196,1,0,both
1,2539329,1,1,2,8,NaN,8,14084,2,0,both
2,2539329,1,1,2,8,NaN,8,12427,3,0,both
3,2539329,1,1,2,8,NaN,8,26088,4,0,both
4,2539329,1,1,2,8,NaN,8,26405,5,0,both

In [6]:
#Importing products
df_products = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [7]:
df_products.shape

(49672, 6)

In [8]:
df_products.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

# Merging data

In [9]:
#Dropping _merge column
df_order_products = df_order_products.drop(columns =['_merge'])

In [12]:
#Merging both datasets
df_order_products_merged = df_order_products.merge(df_products, on ='product_id', indicator = True)

In [13]:
#Check merge
df_order_products_merged.head()

,order_id,user_id,order_number,order_days_of_week,order_hour_of_day,days_from_previous_order,orer_hour_of_day,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,8,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,7,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,12,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,7,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,15,196,1,1,195,Soda,77,7,9.0,both

In [14]:
df_order_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# Export data

In [1]:
#Exporting to pkl
df_order_products_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'order_products_merged.pkl'))

NameError: name 'df_order_products_merged' is not defined